
@{
    ViewBag.Title = "Index";
}

@* Load css files *@

<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Content/Home/index.css" rel="stylesheet" />

@section scripts{
    @* load script files *@
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>    
    <script src="/signalr/hubs"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/Home/index.js"></script>
}

<div id="main">
    @* Search Area *@
    <div class="header-content">
        
        @*<h2><text style="font-weight:bold;">Real Time Odds</text> - Search Panel</h2>*@
    
        @if (ViewBag.SqlDep != null)
        {
            <h3>@ViewBag.SqlDep</h3>
        }

        <table>
            <tbody>
                <tr>                    
                    <td>Category </td>
                    <td style="margin-right:50px;">
                        <select id="cboCategories" style="width: 400px;"></select>
                    </td>
                    <td>Date From </td>
                    <td style="margin-right:50px;">
                        <input type="date" id="dtpFrom" name="dtpFrom">
                    </td>
                    <td>Date To </td>
                    <td style="margin-right:50px;">
                        <input type="date" id="dtpTo" name="dtpto">
                    </td>
                    <td>
                        <input type="button" value="Search" onclick="getMatches()" />
                    </td>                    
                </tr>
            </tbody>
        </table>
    </div>

    @* DataTable *@ 
    
    <div id="matchesContainer">
        <table id="dtOdds" class="dtOdds" width="100%">
            
            <thead class="dtOdds-header">                
                <tr>                    
                    <th id="th_counter"></th>
                    <th id="th_events">Info</th>                       
                    <th id="th_match_id">Match ID</th>      
                    <th id="th_status">Status</th>
                    <th id="th_date_time">Date/Time</th>
                    <th id="th_stadium">Stadium</th>
                    <th id="th_category">Category</th>
                    <th id="th_localteam">Local</th>
                    <th id="th_localteam_goals">Goals</th>
                    <th id="th_visitorteam">Visitor</th>
                    <th id="th_visitorteam_goals">Goals</th>
                </tr>
            </thead>
            <tbody class="dtOdds-body">

            </tbody>       
        </table>
    </div>
    <div id="matches-info">
        <div class="matches-info-header">
            <span>Match ID => </span><span id="lbl-match-id">No match selected!!!</span>            
            <button id="btnOdds" class="btnInfo" onclick="toggleMatchInfo('match-odds')">Odds</button>
            <button id="btnEvents" class="btnInfo" onclick="toggleMatchInfo('match-events')">Events</button>
        </div>

        <div id="match-odds" class="match-info">
            <div id="odd-type-selection">
                 <span style="margin-left:10px;">Select an odd type => </span><select id="cboOddTypes" style="width:calc(100% - 160px);"></select>
            </div>
            <div id="tbl-odds" style="overflow:auto"></div>
        </div>

        <div id="match-events" class="match-info">
            <table id="tbl-info-events" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Team</th>
                        <th>Minute</th>
                        <th>Player Name</th>
                        <th>Assist Name</th>
                        <th>Result</th>
                    </tr>                    
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>        
    </div>
</div>


